<h5>Exercise {{exercise.order}}</h5>

<div class="row" style="margin-bottom:0px;">
	<div class="col s12">
		{{materialize/input-field label="Exercise Name" value=exercise.name data-attr="disabled"}}
	</div>
</div>

{{#if exercise.sets}}
	<div class="row">
		<div class="col s12">
			<table class="centered">
				<thead>
					<tr>
						<th>Reps</th>
						<th>Weight</th>
						{{#if isPercent}}
							<th>Percent</th>
						{{/if}}
						<th>Repeat</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{{#each exercise.sets as |exerciseSet|}}
					<tr>
						<td>{{exerciseSet.reps}}</td>
						{{#if isPercent}}
							<td>{{exerciseSet.weight.kg}}kg</td>
							<td>{{exerciseSet.percent}}%</td>
						{{else}}
							<td>{{exerciseSet.kg}}kg</td>
						{{/if}}
						<td>{{exerciseSet.repeatCount}}</td>
						<td>{{materialize/material-icon icon="edit" onClick=(action "editSet" exerciseSet)}}</td>
						<td>{{materialize/material-icon icon="delete" class="grey-text" onClick=(action "deleteSet" exerciseSet)}}</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
	</div>

{{/if}}

<div class="row">
	<div class="col s12">
		<button {{action "addSet"}} class="btn-small right">
			<i class="material-icons left">add</i>
			SET
		</button>
		<!--
		{{!#link-to "set" "new" (query-params exerciseId=exerciseSet.id) tagName="button" class="btn-small right"}}
			<i class="material-icons left">add</i>
			SET
		{{!/link-to}}
		-->
	</div>
</div>

<div id="{{modalId}}" class="modal">
	<div class="modal-content">
		{{#if setModel}}
			{{set-form
				exerciseSet=setModel
				maxes=maxes
			}}
		{{/if}}
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col s12">
				<button {{action "cancelSet" setModel}} class="btn grey darken-1">Cancel</button>
				{{#if setModel.isNew}}
					<button {{action "saveSet" setModel}} class="btn">Save</button>
				{{else}}
					<button {{action "updateSet" setModel}} class="btn">Update</button>
				{{/if}}
			</div>
		</div>
	</div>
</div>