<div class="row {{if isCompact "no-bottom-padding"}}">
	<div class="col s12 input-field">
		{{materialize/input-field 
			value=max.name
			label="Enter Lift Name"
			triggerValidation=triggerNameValidation
			hasError=nameHasError
			errorMessage=nameErrorMessage
			onChange=(action "maxLiftNameChange")
		}}
	</div>
</div>

{{materialize/weight-input weight=weight weightType=weightType onWeightChange=(action "maxLiftWeightChange")}}

<div class="row"></div>

{{#if isCompact}}

	<div class="row no-bottom-padding">
		<div class="right">
			<button {{action onCancel}} class="btn grey darker-1">Cancel</button>
			{{#if max.isNew}}
				<button {{action "maxFormSubmit"}} class="btn">Save</button>
			{{else}}
				<button {{action "maxFormSubmit"}} class="btn">Update</button>
			{{/if}}
		</div>
	</div>

{{else}}

	<div class="row">
		<div class="col s6">
			<button {{action onCancel}} class="btn-large grey darker-1 full-width">Cancel</button>
		</div>
		<div class="col s6">
			{{#if max.isNew}}
				<button {{action "maxFormSubmit"}} class="btn-large full-width">Save</button>
			{{else}}
				<button {{action "maxFormSubmit"}} class="btn-large full-width">Update</button>
			{{/if}}
		</div>
	</div>

{{/if}}
