{{!-- Maxes in this component are sorted by the parent component --}}
{{#each maxes as |max|}}
<li>
	<div class="card">
		<div class="row">
			<div class="col s12">
				<div style="margin-bottom: 10px;margin-top: 10px;">
					<span style="font-size: 1.5em;">{{max.name}}</span>
					<span class="right">
						{{materialize/menu-icon
							onEdit=(action editMax max)
						}}
					</span>
				</div>
			</div>
			<div class="col s12">
				<div class="divider"></div>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<span style="font-size: 2em;">{{max.kg}}</span>
				<span style="font-size: 1.25em;">KG</span>
			</div>
			<div class="col s6">
				<span style="font-size: 2em;">{{max.lbs}}</span>
				<span style="font-size: 1.25em;">LBS</span>
			</div>
		</div>
	</div>
</li>
{{/each}}

{{yield}}
