<div class="row">
	<h5>Set {{exerciseSet.order}}</h5>
	<div class="divider"></div>
</div>

<div class="row">
	<div class="col s12">
		{{materialize/number-input
			label="Reps"
			recommendedValue=recommendedReps
			value=exerciseSet.reps
		}}
	</div>
</div>

{{#if isPercent}}

	<div class="row">
		<div class="col s12">
			{{materialize/number-input
				label="Percent"
				recommendedValue=recommendedPercent
				value=exerciseSet.percent
			}}
		</div>

		<div class="col s12">
			{{materialize/select-input
				label="of what Max"
				options=maxesOptions
				disabled=maxAlreadyDetermined
				onChange=(action "changeMaxOnSet")
			}}
		</div>
	</div>

{{else}}

	{{materialize/weight-input
		weight=weight
		weightType=weightType
		onWeightChange=(action "weightChange")
	}}

{{/if}}

<div class="row">
	<div class="col s12">
		{{materialize/number-input
			label="Repeat"
			recommendedValue=recommendedRepeatCount
			value=exerciseSet.repeatCount
		}}
	</div>
</div>

<div class="row right">
	<div class="col s12">
		<button {{action "onCancelSet"}} class="btn grey darken-1">Cancel</button>
		{{#if exerciseSet.isNew}}
			<button {{action "onSaveSet"}} class="btn">Save</button>
		{{else}}
			<button {{action "onUpdateSet"}} class="btn">Update</button>
		{{/if}}
	</div>
</div>