{{#page-heading title=workout.name}}
	<div class="right">
		{{materialize/menu-icon 
			onEdit=(action onEdit)
			onDelete=(action "deleteWorkoutConfirm")
		}}
	</div>
{{/page-heading}}

{{#each workout.orderedExercises as |exercise|}}
	<div class="card">
		<div class="card-content">
			<span class="card-title">{{exercise.name}}</span>
			{{#if exercise.isPercentBased}}
				<span class="grey-text">
					Max: {{link-to exercise.max.name "max" exercise.max.id}}
				</span>
			{{/if}}
			<div class="divider"></div>
			<table class="centered">
				<thead>
					<tr>
						<th>Reps</th>
						<th>
							{{#if preferences.isBoth}}
								KG / LBS
							{{else if preferences.isKG}}
								KG
							{{else}}
								LBS
							{{/if}}
						</th>
						{{#if exercise.isPercentBased}}
							<th>Percent</th>
						{{/if}}
						<th>Repeat</th>
					</tr>
				</thead>
				<tbody>
					{{#each exercise.orderedSets as |theSet|}}
						<tr>
							<td>{{theSet.reps}}</td>
							<td>
								{{#if preferences.isKG}}
									{{theSet.weight.kg}}
								{{else if preferences.isLBS}}
									{{theSet.weight.lbs}}
								{{else}}
									{{theSet.weight.kg}}/{{theSet.weight.lbs}}
								{{/if}}
							</td>
							{{#if exercise.isPercentBased}}
								<td>{{theSet.percent}}</td>
							{{/if}}
							<td>{{theSet.repeatCount}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
{{/each}}

{{#confirmation-modal
	modalId=deleteWorkoutModalId
	onAbort=(action "cancelWorkoutDeletion")
	onConfirm=(action "deleteWorkout")
}}

	<h6>
		Are you sure you want to delete 
		<strong class="blue-text">{{workout.name}}</strong>?
	</h6>

{{/confirmation-modal}}