<div class="row">
	<div class="col s12">
		{{materialize/input-field
			inputId="workout-name-input"
			label="Workout Name (optional)"
			placeholder=defaultWorkoutName
			value=workout.name
		}}
	</div>
</div>

{{#each sortedExercises as |exercise|}}
	<div class="row">
		<div class="divider"></div>
	</div>
	{{!-- "goToSetRoute" is found on the workout.js controller --}}
	{{exercise-form 
		exercise=exercise 
		maxes=maxes 
		goToSetRoute=(action goToSetRoute)
		onDelete=(action "deleteExercise" exercise)
	}}
{{/each}}

{{#if saveWorkout.isRunning}}
	<div class="row" style="margin-bottom: 0px;">
		<div class="col s12">
			<div class="progress">
				<div class="indeterminate"></div>
			</div>
		</div>
	</div>
{{else}}
	{{#if workout.exercises}}
		<div class="row">
			<div class="divider"></div>
		</div>
	{{/if}}
{{/if}}

<div class="row">
	<div class="col s12">
		<button {{action "addExercise" "new"}} class="btn-large full-width">
			ADD EXERCISE
		</button>
	</div>
</div>
<div class="row">
	<div class="col s6">
		<button {{action "cancelWorkoutConfirm"}} class="btn-large full-width grey darker-1">
			CANCEL
		</button>
	</div>
	<div class="col s6">
		<button onclick={{perform saveWorkout}} class="btn-large full-width blue darken-1">
			SAVE
		</button>
	</div>
</div>

{{outlet}}

{{#confirmation-modal
	modalId=cancelWorkoutModalId
	onAbort=(action "abortCancel")
	onConfirm=(action onCancelWorkout)
}}

	<h6>
		You have unsaved changes, are you sure you want to continue?
	</h6>

{{/confirmation-modal}}