{{#if hasIconPrefix}}
	<i class="materialize-icons prefix">{{iconName}}</i>
{{/if}}

{{input 
	type=type 
	id=computedInputId 
	placeholder=placeholder
	value=value 
	min=min 
	max=max 
	step=step
	class=inputClasses
}}

{{#if label}}
	<label for="{{computedInputId}}">{{label}}</label>
{{/if}}

{{#if hasHelpText}}
	{{materialize/input-field-helper-text
		helpText=helpText
		successMessage=successMessage
		errorMessage=errorMessage
	}}
{{/if}}