{{#if isEditing}}

	{{page-heading title=(if workout.isNew "Create Workout" "Edit Workout")}}

	{{workout-form
		workout=workout
		maxes=maxes
		defaultWorkoutName=defaultWorkoutName
		goToSetRoute=(action "goToSetRoute")
		goToExerciseRoute=(action "goToExerciseRoute")
		onSaveWorkout=(action "saveWorkout")
		onCancelWorkout=(action "cancelWorkoutCreation")
	}}

{{else}}

	{{#page-heading title=workout.name}}
		<div class="right">
			{{materialize/menu-icon 
				onEdit=(action "editWorkout" "edit")
			}}
		</div>
	{{/page-heading}}

	{{workout-overview 
		workout=workout
	}}

{{/if}}
